{% extends 'core/base.html' %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<form method="post" style='width:50%;margin:auto'>
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <div class="alert alert-info" role="alert">
        {{ error }}
    </div>
    {% endfor %} {% endif %}
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Username:</label>
      <input type='text' class="form-control" placeholder="Username" name="username">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
<button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock content %}